body {
  margin-left: 75;
  padding: 0;
}

/*metre des marges aux images*/
img {
  margin: 15px;
}

/*mes styles de texte*/
h1, h2, h3, h4, p, li {
  margin: 10px;
  color: white;
}
/*styles pour les tables*/
table, td, th {
  border: 1px solid white;
}


/*style de la bare de navigation d'en haut*/
/*metre la bare de navigation a gauche*/
.navbar {
  display: flex;
  justify-content: flex-end;/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
  width: 100%;
}

/*https://www.w3schools.com/css/css_navbar.asp*/
/*enlevé le point et la marge du "un-orderd list"*/
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*styles du text de la bare de navigation*/
.navbar a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

/*pas nécéssaire mais je garde au cas ou j'en ai besoin
.navbar a:hover:not(.active) {
  background-color: #111111;
}
*/

/*ligne pointé rouge*/
hr {
  border-top: 3px dotted #870000;
  border-bottom: 0px;
}
/*enlevé le point et la marge du "un-orderd list"*/
.vbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #000000;
}
/*styles du text de la bare de navigation*/
.vbar li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

/* Changé la couleur quand le curseur est sur le lien */
.vbar li a:hover {
  background-color: #252525;
  color: white;
}

