body {
  margin-left: 75;
  padding: 0;
}

img {
  margin: 15px;
}

h1, h2, h3, h4, p, li {
  margin: 10px;
  color: white;
}
/*styles pour les tables*/
table, th, td {
  border:1px solid rgb(255, 255, 255);
}
th, td {
	color: white;
}

/*style de la bare de navigation d'en haut*/
.navbar {
  display: flex;
  justify-content: flex-end;/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
}

/*https://www.w3schools.com/css/css_navbar.asp*/
.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.navbar a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

/*pas nécéssaire mais je garde au cas ou j'en ai besoin
.navbar a:hover:not(.active) {
  background-color: #111111;
}
*/
hr {
  border-top: 3px dotted #870000;
  border-bottom: 0px;
}

.vbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #000000;
}

.vbar li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link and background color on hover */
.vbar li a:hover {
  background-color: #252525;
  color: white;

}
