body {
  margin: 0;
  padding: 0;
}

img {
  margin: 15px;
}

h2, h4, p {
  margin: 10px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

.navbar a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover:not(.active) {
  background-color: #111111;
}
hr {
  border-top: 3px dotted gold;
  border-bottom : 0px;

.vbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.vbar a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link and background color on hover */
.vbar a:hover {
  background-color: #555555;
  color: white;
}
