body {
  margin: 0;
  padding: 0;
}

img {
  margin: 15px;
}

h2, h4, p {
  margin: 10px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

.navbar a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover:not(.active) {
  background-color: #111111;
}
hr {
  border-top: 3px dotted blue;
  border-bottom : 0px;
